body {
  font-family: 'Open Sans', sans-serif;
  color: #ddd;
  background-color: #333;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 9px;
}

h1 {
  text-align: center;
}

/*p {
  text-align: justify;
}*/

img {
  display: block;
  margin: 0 auto;
  margin-bottom: 21px;
}

a {
  text-decoration: none;
  color: #ddd;
  border: 1px solid #ddd;
  padding: 5px 8px;
  background-color: #666;
}

.buttons {
  margin: 0 auto;
}
