<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
      <div class="page">
        {% include header.html %}

        {{ content }}

        {% include footer.html %}

        {% include analytics.html %}

        <!--slide-out nav-->
        <div class="slide-out">
            <!-- <header class="site-header none">
              <a class="site-title" href="/">X</a>
            </header> -->
            <ul>
                {% for menu_item in site.data.menu %}
                {% if menu_item.subcategories != null %}
                <li><a href="{{ menu_item.href | prepend: site.baseurl }}" class="page-link">{{ menu_item.title }}</a>
                <ul class="sub-menu">
                {% for subcategory in menu_item.subcategories %}
                <li><a href="{{ subcategory.subhref | prepend: site.baseurl }}">{{ subcategory.subtitle }}</a></li>
                {% endfor %}
                </ul>
                {% else %}
                <li><a href="{{ menu_item.href | prepend: site.baseurl }}" class="page-link">{{ menu_item.title }}</a>
                {% endif %}
                </li>
                {% endfor %}
                <!--<li><a class="page-link">*exit menu*</a></li>-->
            </ul>
        </div>
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <script>



          $('document').ready(function () {



            var trigger = $('#hamburger'),
                isClosed = false;

            trigger.click(function () {
              burgerTime();
            });

            // trigger.click(function(){
            //
            // });

            function burgerTime() {
              if (isClosed == true) {
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
                $('.slide-out').hide("fast");
              } else {
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
                $('.slide-out').show("fast");
              }
            }

          });
      </script>


  </body>

</html>
